/* Variables */
/* ---------------------------------------------- */
body {
  background-color: #202124;
  font-family: arial, sans-serif;
  color: #fff;
}

a {
  font-size: 14px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff0000 !important;
}

.light {
  background-color: #fafafa;
}

.light .content .google-navbar .left-side .tdnn:hover {
  -webkit-box-shadow: 0 0 10px #b6b6b6;
          box-shadow: 0 0 10px #b6b6b6;
}

.light .content .google-navbar .right-side a {
  color: #202124;
}

.light .content .google-navbar .right-side .dots {
  fill: #202124;
}

.light .content .search-section .button-container .button:hover {
  border-color: #ff0000;
}

.light .content .search-section a {
  color: #202124;
}

.light .content footer .row {
  background-color: #fafafa;
}

.light .content footer .row a {
  color: #202124;
}

.d-block {
  display: block !important;
}

/* ---------------------------------------------- */
/* Content */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  /* Navbar */
  /* Search */
  /* Footer */
}

.content .google-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px;
}

.content .google-navbar .left-side .tdnn {
  margin: 0 auto;
  /*change size of toggle with font-size*/
  font-size: 12%;
  position: relative;
  height: 16em;
  width: 30em;
  border-radius: 4px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  background-color: #423966;
  cursor: pointer;
}

.content .google-navbar .left-side .tdnn:hover {
  -webkit-box-shadow: 0 0 10px #646464;
          box-shadow: 0 0 10px #646464;
}

.content .google-navbar .left-side .day {
  background-color: #FFBF71;
}

.content .google-navbar .left-side .moon {
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  top: 3em;
  left: 3em;
  -webkit-transform: rotate(-75deg);
          transform: rotate(-75deg);
  width: 10em;
  height: 10em;
  background-color: #423966;
  -webkit-box-shadow: 3em 2.5em 0 0em #D9FBFF inset, rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em, rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) 2em 13em 0 -4em, rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em, rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em, rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em, rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
          box-shadow: 3em 2.5em 0 0em #D9FBFF inset, rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em, rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) 2em 13em 0 -4em, rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em, rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em, rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em, rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em, rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}

.content .google-navbar .left-side .sun {
  top: 4.5em;
  left: 18em;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background-color: #fff;
  -webkit-box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff, 3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff, 0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff, -3.5em -3.5em 0 -3em #fff;
          box-shadow: 3em 3em 0 5em #fff inset, 0 -5em 0 -2.7em #fff, 3.5em -3.5em 0 -3em #fff, 5em 0 0 -2.7em #fff, 3.5em 3.5em 0 -3em #fff, 0 5em 0 -2.7em #fff, -3.5em 3.5em 0 -3em #fff, -5em 0 0 -2.7em #fff, -3.5em -3.5em 0 -3em #fff;
}

.content .google-navbar .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.content .google-navbar .right-side a {
  text-decoration: none;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.content .google-navbar .right-side .dots {
  fill: rgba(255, 255, 255, 0.8);
  width: 24px;
  height: 24px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.content .google-navbar .right-side .dots:hover {
  fill: #ff0000 !important;
}

.content .google-navbar .right-side .profile-image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.content .google-navbar .right-side .profile-image img {
  border-radius: 50%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.content .google-navbar .right-side .profile-image img:hover {
  -webkit-box-shadow: 0 0 10px #3a3a3a;
          box-shadow: 0 0 10px #3a3a3a;
}

.content .search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.content .search-section .input-container {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #5f6368;
  background-color: #202124;
  max-width: 584px;
  width: 100%;
  border-radius: 24px;
  height: 44px;
  padding: 20px;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.content .search-section .input-container:hover {
  background-color: #303134;
  -webkit-box-shadow: 0 1px 6px 0 #171717;
          box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223, 225, 229, 0);
}

.content .search-section .input-container input {
  outline: none;
  height: 40px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
}

.content .search-section .input-container p {
  margin: 0;
  margin-top: 2px;
  color: #818181;
  font-size: 12pt;
  padding-right: 16px;
}

.content .search-section .input-container a {
  color: #818181;
  font-size: 14pt;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  margin-top: 2px;
  padding-left: 16px;
}

.content .search-section .input-container a:hover {
  color: #ff0000;
}

.content .search-section .input-focus {
  background-color: #303134;
  -webkit-box-shadow: 0 1px 6px 0 #171717;
          box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223, 225, 229, 0);
}

.content .search-section .button-container {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.content .search-section .button-container .button {
  background-color: #303134;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  border: 1px solid #303134;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  border-radius: 4px;
}

.content .search-section .button-container .button:hover {
  -webkit-box-shadow: 0 0 10px #3a3a3a;
          box-shadow: 0 0 10px #3a3a3a;
}

.content .search-section .button-container .button span {
  color: #e8eaed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.content .search-section .button-container .button:hover {
  border: 1px solid #5f6368;
}

.content .search-section .button-container .button:hover span {
  color: #ff0000;
}

.content .search-section p {
  margin-top: 27px;
  font-size: small;
  color: #bdc1c6;
}

.content .search-section p a {
  color: #fff;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.content .search-section p a:hover {
  color: #ff0000;
}

.content footer {
  font-size: 15px;
}

.content footer .row {
  background-color: #171717;
  color: #999da2;
  padding: 12px;
}

.content footer .row:nth-child(1) {
  border-bottom: 1px solid #212327;
}

.content footer .footer-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.content footer .footer-button-container a {
  color: #999da2;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  padding-right: 25px;
}

.content footer .footer-button-container a:last-child {
  padding-right: 0;
}

.content footer .footer-button-container a:hover {
  color: #ff0000;
}

/* ---------------------------------------------- */
/*# sourceMappingURL=main.css.map */