<ul style="overflow: auto; height: 180px;">
    <li>
        <a href="https://drive.google.com/file/d/1ltI65oTzz4lV06ABC16qEdFevmYTyq1W/view">
            Covid-19 'Young Solutions Project Certificate of Achievement</a>
    </li>
    <li>
        <a href="https://drive.google.com/file/d/1ltI65oTzz4lV06ABC16qEdFevmYTyq1W/view">
            Covid-19 'Young Solutions Project Participation Certificate</a>
    </li>
    <li><a href="#">13. International MEB Robot
            Competition Participation Certificate</a>
    </li>
    <li><a href="https://www.kale.com.tr/en/events/future-of-ceramics-generation-4-0-project">
            The Future Of Seramic Generation 4.0 Participation Certificate</a>
    </li>
    <li> <a href="https://www.kale.com.tr/en/events/future-of-ceramics-generation-4-0-project">
            The Future Of Seramic Generation 4.0 Winner
        </a></li>
</ul>

<style>
    a:hover {
        color: rgb(255, 0, 106);
    }
</style>