<ul style="overflow: auto; height: 180px;">
    <li>Balance Network (<span class=" red-color">Full Stack Web & Blockchain Developer</span>)</li>
    <li>Akinbaba (<span class="red-color">Full Stack Web Developer</span>)</li>
    <li>Okyanusi (<span class="red-color">Full Stack Web Developer</span>)</li>
    <li>Codify Istanbul (<span class="red-color">Junior Front-end Web Developer</span>)</li>
    <li>Turk Telekom | (<span class="red-color">Technical Personnel</span>)</li>
</ul>

<style>
    .red-color {
        color: rgb(255, 0, 106);
    }
</style>