<p style="font-size: 9pt; overflow: auto; height: 180px;">
    Yakup started his entrepreneurial career by establishing a team in the game sector in 2017.
    At the age of 15, he completed his first entrepreneurship project in Nochizawa as a Team Leader. Having an
    international operational
    experience with create of Minecraft MMORPG Server (Java) Project and Conviction Mobile AR MMORPG in Turkey, Yakup
    also developed himself in leadership and entrepreneurship.

    <br><br>

    Yakup, who founded the Laratuva Team to fight the Coronavirus in 2020, worked with his team on a high value-added
    hygiene system. Since its foundation, Laratuva's aim has been on the hand hygiene measuring device attached to the
    sink. In 2021, the project was suspended because the Laratuva team could not get enough support.

    <br><br>

    In 2021, Yakup worked as a Freelance in the field of Web & Blockchain Development and Web Development Team
    Management at Okyanusi and Akinbaba company.

    <br><br>

    Today, Yakup is Full Stack Web & Blockchain Developer and Team Leader at Private Blockchain Web 3.0 Company and
    Founder at Kodea and Seller at eBay & Facebook Marketplace
</p>